<h1>Modifica la contraseña master</h1>
<a href="/">Ir a Home</a>
<form action="/passMaster" method="POST">
    <input type="password" name="passMaster" id="passMaster" required placeholder="INgresa la xontraseña">
    <input type="submit" value="Guardar">
</form>

