{% extends "main.twig" %}
{% block title %}
Dashboard |
{{ parent() }}
{% endblock %}

{% block styles %}
<style>
    body {
        background-image: var(--background_img_home);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .fa-sign-out-alt{
        font-size: 1.6rem;
    }
    .logout_nav{
        float: right;
    }

    .navbar{
        background-color: var(--card_glass_color);
            -webkit-backdrop-filter: blur(var(--blur_cristal_mode));
            backdrop-filter: blur(var(--blur_cristal_mode));
    }
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
          <i class="fas fa-house-user"></i>
          Oficina
      </a>
      <a class="navbar-brand logout_nav" href="/logout">
          Salir
          <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </nav>
{% endblock %}

{% block plantilla %}



{% endblock %}

{% block footer %}{% endblock %}