{% extends "main.twig" %}

{% block title %}
Login |
{{ parent() }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block plantilla %}

<style>
    body {
        width: 100vw;
        height: 100%;
        background-color: lightslategrey;
    }

    #autenticacion {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forms_container {
        border: 1px solid #f1f1f1;
        width: 90vw;
        background-color: rgba(0, 0, 0, .1);

        text-align: center;
        background-image: linear-gradient(to bottom, rgba(55, 59, 68, 0), rgba(66, 134, 244, 1));
        border-radius: 15px;
        ;
    }

    input {
        width: 95%;
        padding: 10px 20px;
        margin: 5px 0;

        border: none;
        border-bottom: 2px solid #fff;
        outline: none;

        background-color: transparent;
        color: white;
    }

    input:focus {
        border-bottom: 2px solid #ff5c5c;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: white;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
    }

    ::placeholder {
        color: white;
    }

    /* hace la animacion en el input */
    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.2s 0.2s ease;
        text-indent: -100%;
        opacity: 1;
    }

    .btnFormOption {
        width: 50%;
        display: inline;
    }

    .btnFormOption button {
        width: 100%;
    }
</style>

<section class="py-4 " id="autenticacion">
    <div class="forms_container container">
        <div class="row">
            <div class="col-md-6">
                <img src="../public/uploads/logo.png" alt="" class="w-100 p-5">
            </div>
            <div class="col-md-6 py-2">
                <ul class="nav nav-pills mb-3 w-100" id="pills-tab" role="tablist">
                    <li class="nav-item btnFormOption" role="presentation">
                        <button class="nav-link active text-white " id="pills-login-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login"
                            aria-selected="true">Login</button>
                    </li>
                    <li class="nav-item btnFormOption" role="presentation">
                        <button class="nav-link text-white " id="pills-signup-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-signup" type="button" role="tab" aria-controls="pills-signup"
                            aria-selected="false">Sign-up</button>
                    </li>
                </ul>
                <div class="tab-content text-white" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                        aria-labelledby="pills-login-tab">
                        <h4>Iniciar sesion</h4>
                        <form action="post" id="form_login" class="" method="POST">
                            <input type="text" name="username" id="username" placeholder="Nombre de Usuario" class=""
                                required>
                            <input type="password" name="password" id="password" placeholder="Tu contraseña" class=""
                                required>
                            <input type="submit" value="Login" class="btn btn-info form-control my-2">
                            <a href="#">
                                Olvidé mi contraseña?
                            </a>
                        </form>
                    </div>
                    <div class="tab-pane fade text-white" id="pills-signup" role="tabpanel"
                        aria-labelledby="pills-signup-tab">
                        <h4>Registrar nuevo usuario</h4>
                        <form action="post" id="form_singup" method="POST">
                            <input type="text" class="" name="cedula" id="cedula" placeholder="Tu número de cédula"
                                required pattern="[0-9]{10}">
                            <select class="form-select my-2" name="rol" id="rol" required>
                                <option value="" selected disabled>Seleccionar Rol</option>
                                <option value="Administrador">Administrador</option>
                                <option value="usuario">Usuario comun</option>
                            </select>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="nombres" id="nombres" class="" placeholder="Tus nombres"
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="apellidos" id="apellidos" class=""
                                        placeholder="Tus apellidos" required>
                                </div>
                            </div>
                            <input type="tel" name="telefono" id="telefono" class="" pattern="[0-9]{10}"
                                placeholder="Tu número de telefono" required>
                            <input type="email" name="email" id="email" placeholder="Correo: email@example.com" class=""
                                required>
                            <input type="text" name="username" id="username" class="" placeholder="Tu nombre de usuario"
                                required>
                            <input type="password" name="password" id="password" class="" placeholder="Tu contraseña"
                                required>

                            <label for="passMaster" class="pt-3">
                                <h5>Contraseña de registro</h5>
                            </label>
                            <span> <i class="far fa-question-circle p-2" data-bs-toggle="tooltip"
                                    title="Solicita esta contraseña al administrador del sistema"></i></span>
                            <input type="password" name="passMaster" id="passMaster" class="pt-0"
                                placeholder="*****************" required>
                            <input type="submit" value="Registrar Usuario" class="btn btn-info form-control my-2">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    window.onload = () => {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }
</script>

{% endblock %}