<h1>Modifica la contraseña master</h1>
<h2><a href="/">Ir a Home</a></h2>
<form action="/passMaster" method="POST">
    <input type="password" name="passMaster" id="passMaster" required placeholder="INgresa la xontraseña">
    <input type="submit" value="Guardar">
</form>

<h5>{{responseMessage}}</h5>